/*
Syntax error: Invalid CSS after "...f Octoflat Here": expected "{", was "$primary-color:..."
        on line 4 of /home/ck/projects/cke/sass/custom/_colors.scss
        from line 4 of /home/ck/projects/cke/sass/screen.scss

1: /home/ck/projects/cke/sass/screen.scss

Backtrace:
/home/ck/projects/cke/sass/custom/_colors.scss:4
/home/ck/projects/cke/sass/screen.scss:4
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/sass-3.2.19/lib/sass/scss/parser.rb:1149:in `expected'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/sass-3.2.19/lib/sass/scss/parser.rb:1085:in `expected'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/sass-3.2.19/lib/sass/scss/parser.rb:1080:in `tok!'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/sass-3.2.19/lib/sass/scss/parser.rb:534:in `block'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/sass-3.2.19/lib/sass/scss/parser.rb:529:in `ruleset'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/sass-3.2.19/lib/sass/scss/parser.rb:553:in `block_child'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/sass-3.2.19/lib/sass/scss/parser.rb:543:in `block_contents'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/sass-3.2.19/lib/sass/scss/parser.rb:82:in `stylesheet'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/sass-3.2.19/lib/sass/scss/parser.rb:27:in `parse'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/sass-3.2.19/lib/sass/engine.rb:342:in `_to_tree'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/sass-3.2.19/lib/sass/engine.rb:274:in `to_tree'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/sass-3.2.19/lib/sass/tree/root_node.rb:20:in `render'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/compass-0.12.7/lib/compass/compiler.rb:139:in `block (2 levels) in compile'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/compass-0.12.7/lib/compass/compiler.rb:126:in `timed'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/compass-0.12.7/lib/compass/compiler.rb:138:in `block in compile'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/compass-0.12.7/lib/compass/logger.rb:45:in `red'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/compass-0.12.7/lib/compass/compiler.rb:137:in `compile'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/compass-0.12.7/lib/compass/compiler.rb:118:in `compile_if_required'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/compass-0.12.7/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/compass-0.12.7/lib/compass/compiler.rb:101:in `each'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/compass-0.12.7/lib/compass/compiler.rb:101:in `block in run'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/compass-0.12.7/lib/compass/compiler.rb:126:in `timed'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/compass-0.12.7/lib/compass/compiler.rb:100:in `run'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/compass-0.12.7/lib/compass/commands/update_project.rb:45:in `perform'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/compass-0.12.7/lib/compass/commands/base.rb:18:in `execute'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/compass-0.12.7/lib/compass/commands/project_base.rb:19:in `execute'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/compass-0.12.7/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/compass-0.12.7/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/compass-0.12.7/bin/compass:30:in `block in <top (required)>'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/compass-0.12.7/bin/compass:44:in `call'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/gems/compass-0.12.7/bin/compass:44:in `<top (required)>'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/bin/compass:23:in `load'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/bin/compass:23:in `<main>'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/bin/ruby_executable_hooks:15:in `eval'
/home/ck/.rvm/gems/ruby-1.9.3-p547@msf/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...f Octoflat Here\": expected \"{\", was \"$primary-color:...\"\A         on line 4 of /home/ck/projects/cke/sass/custom/_colors.scss\A         from line 4 of /home/ck/projects/cke/sass/screen.scss\A \A 1: /home/ck/projects/cke/sass/screen.scss"; }
